body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.topbar {
    background: #0f172a;
    color: #ffffff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 220px; 
    border-bottom: 2px solid #cfe2ff; /* 浅蓝线 */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background:#0f172a;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 70px;
    border-right: 1px solid #cfe2ff;
}

.sidebar a {
    display: block;
    color: #ffffff;;
    padding: 15px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #cfe2ff; /* hover浅蓝 */
    color: #000;
}

.content {
    margin-left: 220px;
    padding: 30px;
}

.card {
    background: #5c5f66;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-left: 5px solid #4da6ff; /* 蓝色重点🔥 */
}

.card h3 {
    margin: 0;
    color: #333;
}