body {
    font-family: Arial;
    background: #f1f5f9;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

/* Box */
.box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Form */
.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 80px;
}

button {
    background: #2563eb;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total {
    font-weight: bold;
    font-size: 18px;
}